@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(43, 43, 43);
}

@media (min-width: 0px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 99999999;
    width: 100%;
    background-color: rgb(43, 43, 43);
    height: 54px;
  }
  .header__shrink {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
  }
  .header__nav .header__div {
    display: none;
  }
  .header__nav .header__btn-homburger {
    background-color: rgb(43, 43, 43);
    border: none;
  }
}
@media (min-width: 931px) {
  .header {
    height: 100px;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
  }
  .header__nav .header__logo {
    margin-top: 14px;
  }
  .header__nav .header__div {
    display: flex;
  }
  .header__nav .header__div .header__list {
    display: flex;
    gap: 50px;
    margin: 20px 30px 0px 0px;
  }
  .header__nav .header__div .header__list .header__item {
    list-style: none;
  }
  .header__nav .header__div .header__list .header__item .header__link {
    text-decoration: none;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    display: inline-block;
    padding: 5px 0px;
    position: relative;
    transition: 0.4s;
  }
  .header__nav .header__div .header__list .header__item .header__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(162, 89, 255);
    transition: 0.4s;
  }
  .header__nav .header__div .header__list .header__item .header__link:hover::after {
    width: 100%;
  }
  .header__nav .header__div .header__list .header__item .header__link:hover {
    text-shadow: 0 0 10px rgb(162, 89, 255);
    color: rgb(162, 89, 255);
  }
  .header__nav .header__div .head__btn-signLn {
    width: 152px;
    height: 60px;
    padding: 20px 20px 0px 20px;
    gap: 12px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    display: flex;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    border: none;
  }
  .header__nav .header__btn-homburger {
    display: none;
  }
}
@media (min-width: 1500px) {
  .header__nav {
    margin: 20px 100px;
  }
}
@media (min-width: 0px) {
  .section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 20px;
  }
  .section .section__div {
    margin-top: 95px;
  }
  .section .section__div .section__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
  }
  .section .section__div .section__text-2 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #fff;
  }
  .section .section__div .section__carte {
    width: 315px;
    height: 315px;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    margin: 40px 0px 40px 0px;
  }
  .section .section__div .section__carte .section__img {
    width: 315px;
  }
  .section .section__div .section__carte .section__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    margin: 22px 0px 10px 20px;
  }
  .section .section__div .section__carte .section__content {
    display: flex;
    margin: 0px 0px 22px 20px;
    gap: 12px;
  }
  .section .section__div .section__carte .section__content .section__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
  }
  .section .section__div .section__btn {
    width: 315px;
    height: 60px;
    padding: 0px 50px 0px 50px;
    gap: 12px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .section .section__div .section__content-2 {
    display: flex;
    gap: 50px;
  }
  .section .section__div .section__content-2 .section__div-text .section__text-5 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .section .section__div .section__content-2 .section__div-text .section__text-6 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
  }
  .section .section__div-2 {
    display: none;
  }
}
@media (min-width: 500px) {
  .section {
    padding: 0px 50px;
  }
  .section .section__div {
    margin-top: 95px;
  }
  .section .section__div .section__carte {
    width: 400px;
    height: 370px;
  }
  .section .section__div .section__carte .section__img {
    width: 400px;
  }
  .section .section__div .section__btn {
    width: 100%;
  }
  .section .section__div .section__content-2 {
    display: flex;
    gap: 50px;
    margin-left: 40px;
  }
}
@media (min-width: 700px) {
  .section .section__div {
    display: none;
  }
  .section .section__div-2 {
    display: flex;
    margin-top: 95px;
    justify-content: space-between;
  }
  .section .section__div-2 .section__content .section__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 39.2px;
  }
  .section .section__div-2 .section__content .section__text-2 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #fff;
    margin: 20px 0px 20px 0px;
  }
  .section .section__div-2 .section__content .section__btn {
    width: 224px;
    height: 60px;
    padding: 0px 50px 0px 50px;
    gap: 12px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .section .section__div-2 .section__content .section__content-2 {
    display: flex;
    gap: 30px;
  }
  .section .section__div-2 .section__content .section__content-2 .section__div-text .section__text-5 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .section .section__div-2 .section__content .section__content-2 .section__div-text .section__text-6 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
  }
  .section .section__div-2 .section__carte {
    width: 330px;
    height: 330px;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
  }
  .section .section__div-2 .section__carte .section__img {
    width: 330px;
  }
  .section .section__div-2 .section__carte .section__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    margin: 22px 0px 10px 20px;
  }
  .section .section__div-2 .section__carte .section__content {
    display: flex;
    margin: 0px 0px 22px 20px;
    gap: 12px;
  }
  .section .section__div-2 .section__carte .section__content .section__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
  }
}
@media (min-width: 940px) {
  .section {
    padding: 0px 115px;
  }
  .section .section__div-2 {
    display: flex;
    margin-top: 140px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .section {
    justify-content: center;
  }
  .section .section__div-2 .section__content .section__text-1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 73.7px;
  }
  .section .section__div-2 .section__content .section__text-2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
  }
  .section .section__div-2 .section__content .section__btn {
    width: 224px;
    height: 60px;
    padding: 0px 50px 0px 50px;
    gap: 12px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .section .section__div-2 .section__content .section__content-2 {
    display: flex;
    gap: 70px;
  }
  .section .section__div-2 .section__content .section__content-2 .section__div-text .section__text-5 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .section .section__div-2 .section__content .section__content-2 .section__div-text .section__text-6 {
    color: #fff;
    font-family: Work Sans;
    font-size: 23px;
    font-weight: 400;
  }
  .section .section__div-2 .section__carte {
    width: 510px;
    height: 510px;
    background-color: rgb(59, 59, 59);
    border-radius: 35px;
  }
  .section .section__div-2 .section__carte .section__img {
    width: 510px;
    height: 401;
  }
  .section .section__div-2 .section__carte .section__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    margin: 22px 0px 22px 20px;
  }
  .section .section__div-2 .section__carte .section__content {
    display: flex;
    margin: 0px 0px 22px 20px;
    gap: 12px;
  }
  .section .section__div-2 .section__carte .section__content img {
    width: 50px;
  }
  .section .section__div-2 .section__carte .section__content .section__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
  }
}
@media (min-width: 0px) {
  .section-2 {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 20px;
    margin-top: 80px;
  }
  .section-2 .section-2__div .section-2__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
  }
  .section-2 .section-2__div .section-2__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin: 10px 0px 40px 0px;
  }
  .section-2 .section-2__div .section-2__content {
    justify-content: center;
    display: flex;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 {
    width: 315px;
    height: 515px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 .section-2__carte .section-2__div-img {
    margin-top: 15px;
    gap: 15px;
    display: flex;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 .section-2__carte .section-2__div-img .section-2__btn {
    width: 95px;
    height: 95px;
    padding: 32px 15px 32px 15px;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: center;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 .section-2__text-3 {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    margin: 15px 0px 10px 0px;
    color: #fff;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 .section-2__div-text {
    display: flex;
    gap: 12px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 .section-2__div-text .section-2__text-4 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #fff;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 {
    display: none;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-4 {
    display: none;
  }
}
@media (min-width: 746px) {
  .section-2 {
    padding: 0px 50px;
  }
  .section-2 .section-2__div .section-2__content {
    justify-content: space-between;
    display: flex;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 {
    width: 315px;
    height: 515px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 .section-2__carte .section-2__div-img {
    margin-top: 15px;
    gap: 15px;
    display: flex;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 .section-2__carte .section-2__div-img .section-2__btn {
    width: 95px;
    height: 95px;
    padding: 32px 15px 32px 15px;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: center;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 .section-2__text-3 {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    margin: 15px 0px 10px 0px;
    color: #fff;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 .section-2__div-text {
    display: flex;
    gap: 12px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-2 .section-2__div-text .section-2__text-4 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #fff;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 {
    display: block;
    width: 315px;
    height: 515px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__carte .section-2__img-1 {
    width: 315px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__carte .section-2__div-img {
    margin-top: 15px;
    gap: 15px;
    display: flex;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__carte .section-2__div-img .section-2__img-2 {
    width: 95px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__carte .section-2__div-img .section-2__btn {
    width: 95px;
    height: 95px;
    padding: 32px 15px 32px 15px;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: center;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__text-3 {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    margin: 15px 0px 10px 0px;
    color: #fff;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__div-text {
    display: flex;
    gap: 12px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__div-text .section-2__text-4 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #fff;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-4 {
    display: none;
  }
}
@media (min-width: 1100px) {
  .section-2 {
    padding: 0px 120px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 {
    display: block;
    width: 315px;
    height: 515px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__carte .section-2__img-1 {
    width: 315px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__carte .section-2__div-img {
    margin-top: 15px;
    gap: 15px;
    display: flex;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__carte .section-2__div-img .section-2__img-2 {
    width: 95px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__carte .section-2__div-img .section-2__btn {
    width: 95px;
    height: 95px;
    padding: 32px 15px 32px 15px;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: center;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__text-3 {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    margin: 15px 0px 10px 0px;
    color: #fff;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__div-text {
    display: flex;
    gap: 12px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-3 .section-2__div-text .section-2__text-4 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #fff;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-4 {
    display: block;
    width: 315px;
    height: 515px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-4 .section-2__carte .section-2__img-1 {
    width: 315px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-4 .section-2__carte .section-2__div-img {
    margin-top: 15px;
    gap: 15px;
    display: flex;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-4 .section-2__carte .section-2__div-img .section-2__img-2 {
    width: 95px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-4 .section-2__carte .section-2__div-img .section-2__btn {
    width: 95px;
    height: 95px;
    padding: 32px 15px 32px 15px;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: center;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-4 .section-2__text-3 {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    margin: 15px 0px 10px 0px;
    color: #fff;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-4 .section-2__div-text {
    display: flex;
    gap: 12px;
  }
  .section-2 .section-2__div .section-2__content .section-2__div-4 .section-2__div-text .section-2__text-4 {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #fff;
  }
}
@media (min-width: 0px) {
  .section-3 {
    max-width: 1400px;
    padding: 0px 20px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .section-3 .section-3__div .section-3__ttte .section-3__content .section-3__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    text-align: left;
  }
  .section-3 .section-3__div .section-3__ttte .section-3__content .section-3__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    margin: 10px 0px 40px 0px;
  }
  .section-3 .section-3__div .section-3__ttte .section-3__btn-2 {
    display: none;
  }
  .section-3 .section-3__div .section-3__content {
    display: grid;
    justify-content: center;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte {
    display: flex;
    width: 315px;
    height: 100px;
    padding: 20px 0px 0px 20px;
    gap: 20px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
    margin-top: 20px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte .section-3__div-img .section-3__img {
    width: 60px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte .section-2__div-text .section-3__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte .section-2__div-text .section-3__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-2 {
    display: none;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-3 {
    display: none;
  }
  .section-3 .section-3__div .section-3__btn {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 20px 50px 0px 50px;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid rgb(162, 89, 255);
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    margin-top: 40px;
  }
}
@media (min-width: 746px) {
  .section-3 {
    padding: 0px 50px;
  }
  .section-3 .section-3__div .section-3__ttte {
    display: flex;
    justify-content: space-between;
  }
  .section-3 .section-3__div .section-3__ttte .section-3__content {
    display: block;
  }
  .section-3 .section-3__div .section-3__ttte .section-3__content .section-3__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    text-align: left;
  }
  .section-3 .section-3__div .section-3__ttte .section-3__content .section-3__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    margin: 10px 0px 40px 0px;
  }
  .section-3 .section-3__div .section-3__ttte .section-3__btn-2 {
    display: flex;
    width: 247px;
    height: 60px;
    padding: 20px 50px 0px 30px;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid rgb(162, 89, 255);
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    background-color: rgb(43, 43, 43);
    margin-top: 40px;
  }
  .section-3 .section-3__div .section-3__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-2 {
    display: flex;
    width: 315px;
    height: 100px;
    padding: 20px 0px 0px 20px;
    gap: 20px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
    margin-top: 20px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-2 .section-3__div-img .section-3__img {
    width: 60px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-2 .section-2__div-text .section-3__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-2 .section-2__div-text .section-3__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-3 {
    display: none;
  }
  .section-3 .section-3__div .section-3__btn {
    display: none;
  }
}
@media (min-width: 1100px) {
  .section-3 {
    padding: 0px 110px;
  }
  .section-3 .section-3__div .section-3__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    grid-row-gap: 10px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte {
    display: block;
    width: 240px;
    height: 238px;
    padding: 20px 0px 0px 0px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte .section-3__div-img .section-3__img {
    width: 120px;
    margin: 0px 0px 20px 60px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte .section-2__div-text .section-3__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: center;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte .section-2__div-text .section-3__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-2 {
    display: block;
    width: 240px;
    height: 238px;
    padding: 20px 0px 0px 0px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-2 .section-3__div-img .section-3__img {
    width: 120px;
    margin: 0px 0px 20px 60px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-2 .section-2__div-text .section-3__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: center;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-2 .section-2__div-text .section-3__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-3 {
    display: block;
    width: 240px;
    height: 238px;
    padding: 20px 0px 0px 0px;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    margin-top: 20px;
  }
  .section-3 .section-3__div .section-3__content .section-3__carte-3 .section-3__div-img .section-3__img {
    width: 120px;
    margin: 0px 0px 20px 60px;
  }
  .section-3 .section-3__div .section-3__content .section-2__div-text .section-3__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: center;
  }
  .section-3 .section-3__div .section-3__content .section-2__div-text .section-3__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
  }
}
@media (min-width: 0px) {
  .section-4 {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 20px;
  }
  .section-4 .section-4__div .section-4__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    text-align: left;
    margin: 80px 0px 40px 0px;
  }
  .section-4 .section-4__div .section-4__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .section-4 .section-4__div .section-4__content .section-4__carte {
    width: 147px;
    height: 209px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 0;
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 .img-2 {
    width: 100%;
    transition: 0.5s;
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 .img-2:hover {
    align-items: center;
    background-image: url(/img/44.svg);
    display: flex;
    justify-content: center;
    filter: blur(5px);
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 a {
    vertical-align: middle;
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 img + img,
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 img + i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    width: 64px;
    height: 64px;
    transition: transform 0.7s ease 0s;
    transform: scale(0);
    font-size: 64px;
    color: #fff;
    z-index: 1;
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 a:hover img + img,
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 a:hover img + i {
    transform: scale(1);
    opacity: 1;
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 a::before {
    filter: blur(5px);
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 a::after {
    filter: blur(5px);
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .section-4__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    margin: 10px 0px 0px 20px;
  }
}
@media (min-width: 745px) {
  .section-4 {
    padding: 0px 50px;
  }
  .section-4 .section-4__div .section-4__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    text-align: left;
    margin: 80px 0px 40px 0px;
  }
}
@media (min-width: 1163px) {
  .section-4 {
    padding: 0px 110px;
  }
  .section-4 .section-4__div .section-4__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    margin: 80px 0px 40px 0px;
  }
  .section-4 .section-4__div .section-4__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .section-4 .section-4__div .section-4__content .section-4__carte {
    width: 240px;
    height: 316px;
    border-radius: 30px;
    background-color: rgb(59, 59, 59);
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .hover-image-6 .img-2 {
    transition: 0.5s;
    width: 240px;
  }
  .section-4 .section-4__div .section-4__content .section-4__carte .section-4__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    margin: 10px 0px 0px 20px;
  }
}
@media (min-width: 0px) {
  .section-5 {
    max-width: 1400px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .section-5 .section-5__div .section-5__div-text .section-5__div-text-2 .section-5__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
  }
  .section-5 .section-5__div .section-5__div-text .section-5__div-text-2 .section-5__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 40px;
  }
  .section-5 .section-5__div .section-5__div-text .section-5__btn {
    display: none;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte {
    width: 330px;
    height: 469px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
    margin-top: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
    margin: 20px 0px 5px 30px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-3 {
    display: flex;
    gap: 12px;
    margin-left: 30px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-3 .section-5__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-4 {
    display: flex;
    margin-left: 30px;
    gap: 120px;
    margin-top: 25px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-4 .section-5__text-5 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 {
    width: 330px;
    height: 469px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
    margin-top: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 .section-5__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
    margin: 20px 0px 5px 30px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 .section-5__div-text-3 {
    display: flex;
    gap: 12px;
    margin-left: 30px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 .section-5__div-text-3 .section-5__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 .section-5__div-text-4 {
    display: flex;
    margin-left: 30px;
    gap: 120px;
    margin-top: 25px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 .section-5__div-text-4 .section-5__text-5 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  .section-5 .section-5__div .section-5__btn-2 {
    display: flex;
    width: 100%;
    height: 60px;
    gap: 12px;
    color: #fff;
    background-color: rgb(43, 43, 43);
    border: 2px solid rgb(162, 89, 255);
    border-radius: 20px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    justify-content: center;
    padding: 19px;
    margin-top: 40px;
  }
}
@media (min-width: 751px) {
  .section-5 {
    max-width: 1400px;
    padding: 0px 50px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .section-5 .section-5__div .section-5__div-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .section-5 .section-5__div .section-5__div-text .section-5__div-text-2 .section-5__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
  }
  .section-5 .section-5__div .section-5__div-text .section-5__div-text-2 .section-5__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: -40px;
  }
  .section-5 .section-5__div .section-5__div-text .section-5__btn {
    display: flex;
    width: 186;
    height: 60px;
    gap: 12px;
    color: #fff;
    background-color: rgb(43, 43, 43);
    border: 2px solid rgb(162, 89, 255);
    border-radius: 20px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    justify-content: center;
    padding: 19px;
    margin-top: 40px;
  }
  .section-5 .section-5__div .section-5__content {
    display: flex;
    justify-content: space-between;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte {
    width: 330px;
    height: 469px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
    margin-top: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
    margin: 20px 0px 5px 30px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-3 {
    display: flex;
    gap: 12px;
    margin-left: 30px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-3 .section-5__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-4 {
    display: flex;
    margin-left: 30px;
    gap: 120px;
    margin-top: 25px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-4 .section-5__text-5 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 {
    display: none;
  }
  .section-5 .section-5__div .section-5__btn-2 {
    display: none;
  }
}
@media (min-width: 1141px) {
  .section-5 {
    padding: 0px 120px;
  }
  .section-5 .section-5__div .section-5__content {
    display: flex;
    justify-content: space-between;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte {
    width: 330px;
    height: 469px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
    margin-top: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
    margin: 20px 0px 5px 30px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-3 {
    display: flex;
    gap: 12px;
    margin-left: 30px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-3 .section-5__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-4 {
    display: flex;
    margin-left: 30px;
    gap: 120px;
    margin-top: 25px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte .section-5__div-text-4 .section-5__text-5 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 {
    display: block;
    width: 330px;
    height: 469px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
    margin-top: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 .section-5__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
    margin: 20px 0px 5px 30px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 .section-5__div-text-3 {
    display: flex;
    gap: 12px;
    margin-left: 30px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 .section-5__div-text-3 .section-5__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 .section-5__div-text-4 {
    display: flex;
    margin-left: 30px;
    gap: 120px;
    margin-top: 25px;
  }
  .section-5 .section-5__div .section-5__content .section-5__carte-2 .section-5__div-text-4 .section-5__text-5 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  .section-5 .section-5__div .section-5__btn-2 {
    display: none;
  }
}
@media (min-width: 0px) {
  .section-6 {
    background-image: url(/img/NFT\ Highlight-1.svg);
    width: 100%;
    height: 590px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;
    z-index: -999;
    position: relative;
  }
  .section-6 .div-999 {
    width: 100%;
    height: 10px;
    box-shadow: 0px -100px 300px 200px rgb(162, 89, 255);
    background-color: rgb(162, 89, 255);
    position: relative;
    top: 580px;
    z-index: -1;
  }
  .section-6 .section-6__div {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 20px;
  }
  .section-6 .section-6__div .section-6__carte .section-6__div-img {
    display: flex;
    width: 151px;
    height: 44px;
    padding: 10px 20px 10px 20px;
    gap: 12px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
    margin-top: 120px;
  }
  .section-6 .section-6__div .section-6__carte .section-6__div-img .section-6__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .section-6 .section-6__div .section-6__carte .section-6__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    margin: 30px 0px 30px 0px;
  }
  .section-6 .section-6__div .section-6__carte .section-3__btn {
    display: none;
  }
  .section-6 .section-6__div .section-6__carte-2 .strength {
    width: 295px;
    height: 144px;
    padding: 30px 0px 0px 30px;
    gap: 10px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.712);
  }
  .section-6 .section-6__div .section-6__carte-2 .strength .strength-s {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    color: #fff;
  }
  .section-6 .section-6__div .section-6__carte-2 .strength .strength-p {
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 45.6px;
    color: #fff;
  }
  .section-6 .section-6__div .section-6__carte-2 .strength .strength-k {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    color: #fff;
    display: flex;
    gap: 35px;
  }
  .section-6 .section-6__div .section-6__carte-2 .section-3__btn-2 {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 22px 50px 22px 50px;
    gap: 12px;
    border-radius: 20px;
    justify-content: center;
    border: none;
    margin-top: 30px;
  }
}
@media (min-width: 752px) {
  .section-6 .section-6__div {
    padding: 0px 50px;
    display: flex;
    margin-top: 300px;
    justify-content: space-between;
  }
  .section-6 .section-6__div .section-6__carte .section-6__div-img {
    margin-top: 0px;
  }
  .section-6 .section-6__div .section-6__carte .section-6__text-2 .br {
    display: none;
  }
  .section-6 .section-6__div .section-6__carte .section-3__btn {
    display: flex;
    width: 198px;
    height: 60px;
    padding: 22px 50px 22px 50px;
    gap: 12px;
    border-radius: 20px;
    justify-content: center;
    border: none;
    margin-top: 30px;
  }
  .section-6 .section-6__div .section-6__carte-2 .strength {
    margin: 62px 0px 0px 0px;
  }
  .section-6 .section-6__div .section-6__carte-2 .section-3__btn-2 {
    display: none;
  }
}
@media (min-width: 1160px) {
  .section-6 .section-6__div {
    padding: 0px 120px;
    display: flex;
    margin-top: 300px;
    justify-content: space-between;
  }
  .section-6 .section-6__div .section-6__carte .section-6__div-img {
    margin-top: 0px;
  }
  .section-6 .section-6__div .section-6__carte .section-6__text-2 .br {
    display: none;
  }
  .section-6 .section-6__div .section-6__carte .section-3__btn {
    display: flex;
    width: 198px;
    height: 60px;
    padding: 22px 50px 22px 50px;
    gap: 12px;
    border-radius: 20px;
    justify-content: center;
    border: none;
    margin-top: 30px;
  }
  .section-6 .section-6__div .section-6__carte-2 .strength {
    margin: 62px 0px 0px 0px;
  }
  .section-6 .section-6__div .section-6__carte-2 .section-3__btn-2 {
    display: none;
  }
}
@media (min-width: 0px) {
  .section-7 {
    max-width: 1400px;
    padding: 40px 20px 0px 20px;
    margin: 0 auto;
    width: 100%;
    height: 685px;
    background-color: rgb(43, 43, 43);
  }
  .section-7 .section-7__div .section-7__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    margin-bottom: 10px;
  }
  .section-7 .section-7__div .section-7__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 40px;
  }
  .section-7 .section-7__div .section-7__content .section-7__carte {
    width: 100%;
    height: 157px;
    padding: 20px 0px 0px 0px;
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    background-color: rgb(59, 59, 59);
    margin-bottom: 20px;
  }
  .section-7 .section-7__div .section-7__content .section-7__carte .section-7__img {
    display: block;
  }
  .section-7 .section-7__div .section-7__content .section-7__carte .section-7__div-text .section-7__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    margin-bottom: 10px;
  }
  .section-7 .section-7__div .section-7__content .section-7__carte .section-7__div-text .section-7__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
  }
}
@media (min-width: 752px) {
  .section-7 {
    max-width: 1400px;
    padding: 40px 50px 0px 50px;
    margin: 0 auto;
    width: 100%;
    height: 528px;
    background-color: rgb(43, 43, 43);
  }
  .section-7 .section-7__div .section-7__content {
    display: flex;
    justify-content: space-between;
  }
  .section-7 .section-7__div .section-7__content .section-7__carte {
    width: 210px;
    height: 337px;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    justify-content: space-between;
    display: block;
    background-color: rgb(59, 59, 59);
    margin-bottom: 0px;
  }
}
@media (min-width: 1160px) {
  .section-7 {
    padding: 40px 120px 0px 120px;
    height: 738px;
    width: 100%;
  }
  .section-7 .section-7__div .section-7__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.2px;
    margin-bottom: 10px;
  }
  .section-7 .section-7__div .section-7__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.4px;
    margin-bottom: 40px;
  }
  .section-7 .section-7__div .section-7__content .section-7__carte {
    width: 330px;
    height: 439px;
    padding: 20px 30px 0px 30px;
    border-radius: 20px;
    justify-content: space-between;
    display: block;
    background-color: rgb(59, 59, 59);
    margin-bottom: 20px;
  }
  .section-7 .section-7__div .section-7__content .section-7__carte .section-7__img {
    display: block;
    width: 250px;
  }
  .section-7 .section-7__div .section-7__content .section-7__carte .section-7__div-text .section-7__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.4px;
    margin-bottom: 10px;
    align-items: center;
  }
  .section-7 .section-7__div .section-7__content .section-7__carte .section-7__div-text .section-7__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    align-items: center;
  }
}
@media (min-width: 0px) {
  .section-8 {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0px 20px;
  }
  .section-8 .section8__div .section-8__img-1 {
    display: block;
  }
  .section-8 .section8__div .section-8__info .section-8__img-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    margin: 30px 0px 10px 0px;
  }
  .section-8 .section8__div .section-8__info .section-8__img-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
  }
  .section-8 .section8__div .section-8__info .section-8_content {
    margin: 40px 0px 40px 0px;
  }
  .section-8 .section8__div .section-8__info .section-8_content input {
    width: 100%;
    height: 46px;
    padding: 16px 20px 16px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    color: #000;
    margin-bottom: 16px;
  }
  .section-8 .section8__div .section-8__info .section-8_content .section-8__btn {
    display: flex;
    width: 100%;
    height: 46px;
    padding: 12px 0px 0px 0px;
    gap: 12px;
    border-radius: 20px;
    border: none;
    background-color: rgb(162, 89, 255);
    justify-content: center;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
  }
}
@media (min-width: 752px) {
  .section-8 {
    padding: 0px 50px;
  }
  .section-8 .section8__div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 360px;
    padding: 40px 30px 40px 30px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
  }
  .section-8 .section8__div .section-8__img-1 {
    width: 300px;
    height: 280px;
  }
  .section-8 .section8__div .section-8__info .section-8__img-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    margin: 0px 0px 0px 0px;
  }
  .section-8 .section8__div .section-8__info .section-8__img-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: -180px;
  }
  .section-8 .section8__div .section-8__info .section-8_content {
    margin: 30px 0px 0px 0px;
  }
  .section-8 .section8__div .section-8__info .section-8_content input {
    width: 100%;
    height: 46px;
    padding: 16px 20px 16px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    color: #000;
    margin-bottom: 16px;
  }
  .section-8 .section8__div .section-8__info .section-8_content .section-8__btn {
    display: flex;
    width: 100%;
    height: 46px;
    padding: 12px 0px 0px 0px;
    gap: 12px;
    border-radius: 20px;
    border: none;
    background-color: rgb(162, 89, 255);
    justify-content: center;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
  }
}
@media (min-width: 1160px) {
  .section-8 {
    padding: 0px 120px;
  }
  .section-8 .section8__div {
    height: 430px;
  }
  .section-8 .section8__div .section-8__img-1 {
    width: 425px;
    height: 310px;
  }
  .section-8 .section8__div .section-8__info .section-8__img-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    margin: 30px 0px 10px 0px;
  }
  .section-8 .section8__div .section-8__info .section-8__img-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
  }
  .section-8 .section8__div .section-8__info .section-8_content {
    margin: 40px 0px 40px 0px;
    width: 425px;
    height: 60px;
    border-radius: 20px;
    display: flex;
  }
  .section-8 .section8__div .section-8__info .section-8_content input {
    width: 100%;
    height: 60px;
    padding: 16px 20px 16px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    color: #000;
    margin-bottom: 16px;
  }
  .section-8 .section8__div .section-8__info .section-8_content .section-8__btn {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 20px 0px 0px 0px;
    gap: 12px;
    border-radius: 20px;
    border: none;
    background-color: rgb(162, 89, 255);
    justify-content: center;
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
  }
}
@media (min-width: 0px) {
  .footer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px 20px;
    background-color: rgb(59, 59, 59);
    width: 100%;
    margin-top: 40px;
  }
  .footer .footer__div .footer__carte {
    margin-top: 40px;
  }
  .footer .footer__div .footer__carte .footer__text-1 {
    color: rgb(204, 204, 204);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin: 23px 0px 20px 0px;
  }
  .footer .footer__div .footer__carte .footer__text-2 {
    color: rgb(204, 204, 204);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }
  .footer .footer__div .footer__carte .footer__div-img {
    display: flex;
    gap: 12px;
    margin: 15px 0px 30px 0px;
  }
  .footer .footer__div .footer__carte-2 {
    display: grid;
  }
  .footer .footer__div .footer__carte-2 .footer__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    margin-bottom: 20px;
  }
  .footer .footer__div .footer__carte-2 .footer__link {
    text-decoration: none;
    color: rgb(204, 204, 204);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 20px;
  }
  .footer .footer__div .footer__carte-3 .footer__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
  }
  .footer .footer__div .footer__carte-3 .footer__text-5 {
    color: rgb(204, 204, 204);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin: 20px 0px 20px 0px;
  }
  .footer .footer__div .footer__carte-3 .footer__div__input input {
    width: 315px;
    height: 46px;
    padding: 16px 20px 16px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
  }
  .footer .footer__div .footer__carte-3 .footer__div__input .footer__bto {
    display: flex;
    width: 315px;
    height: 46px;
    padding: 20px 50px 0px 50px;
    gap: 12px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    justify-content: center;
    margin: 16px 0px 30px 0px;
  }
  .footer .footer__div .div {
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: rgb(133, 133, 132);
    margin-bottom: 20px;
  }
  .footer .footer__div .footer__text-6 {
    color: rgb(204, 204, 204);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (min-width: 752px) {
  .footer {
    padding: 1px 50px;
  }
  .footer .footer__div .footer__carte-2 {
    display: grid;
  }
  .footer .footer__div .footer__carte-2 .footer__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    margin-bottom: 20px;
  }
  .footer .footer__div .footer__carte-2 .footer__link {
    text-decoration: none;
    color: rgb(204, 204, 204);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 20px;
  }
  .footer .footer__div .footer__carte-3 .footer__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
  }
  .footer .footer__div .footer__carte-3 .footer__text-5 {
    color: rgb(204, 204, 204);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin: 20px 0px 20px 0px;
  }
  .footer .footer__div .footer__carte-3 .footer__div__input {
    width: 420px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    margin-bottom: 30px;
  }
  .footer .footer__div .footer__carte-3 .footer__div__input input {
    width: 100%;
    height: 60px;
    padding: 16px 20px 16px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
  }
  .footer .footer__div .footer__carte-3 .footer__div__input .footer__bto {
    display: flex;
    width: 40%;
    height: 60px;
    padding: 20px 50px 0px 50px;
    gap: 12px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    justify-content: center;
    margin: 0px 0px 0px 0px;
  }
  .footer .div {
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: rgb(133, 133, 132);
    margin-bottom: 20px;
  }
  .footer .footer__text-6 {
    color: rgb(204, 204, 204);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 13.2px;
    margin-bottom: 40px;
    text-align: left;
  }
}
@media (min-width: 1144px) {
  .footer {
    padding: 1px 50px;
  }
  .footer .footer__div {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .footer .footer__div .footer__carte {
    margin-top: 0px;
  }
  .footer .footer__div .footer__carte-2 {
    display: grid;
  }
  .footer .footer__div .footer__carte-2 .footer__text-3 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    margin-bottom: 20px;
  }
  .footer .footer__div .footer__carte-2 .footer__link {
    text-decoration: none;
    color: rgb(204, 204, 204);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 20px;
  }
  .footer .footer__div .footer__carte-3 .footer__text-4 {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
  }
  .footer .footer__div .footer__carte-3 .footer__text-5 {
    color: rgb(204, 204, 204);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin: 20px 0px 20px 0px;
  }
  .footer .footer__div .footer__carte-3 .footer__div__input {
    width: 420px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    margin-bottom: 30px;
  }
  .footer .footer__div .footer__carte-3 .footer__div__input input {
    width: 100%;
    height: 60px;
    padding: 16px 20px 16px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
  }
  .footer .footer__div .footer__carte-3 .footer__div__input .footer__bto {
    display: flex;
    width: 40%;
    height: 60px;
    padding: 20px 50px 0px 50px;
    gap: 12px;
    border-radius: 20px;
    background-color: rgb(162, 89, 255);
    border: none;
    color: #fff;
    justify-content: center;
    margin: 0px 0px 0px 0px;
  }
}
@media (min-width: 0px) {
  .section-1 {
    max-width: 1400px;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .section-1 .section-1__div .section-1__div-img .section-1__img {
    width: 100%;
    height: 232px;
    margin-top: 50px;
  }
  .section-1 .section-1__div .section-1__div-img .section-1__img-2 {
    display: none;
  }
  .section-1 .section-1__div .section-1__div-img .section-1__img-3 {
    display: none;
  }
  .section-1 .section-1__div .section-1__info {
    margin-top: 30px;
    display: grid;
  }
  .section-1 .section-1__div .section-1__info .section-1__text-1 {
    color: #fff;
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    text-align: left;
  }
  .section-1 .section-1__div .section-1__info .section-1__text-2 {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    margin: 20px 0px 30px 0px;
  }
  .section-1 .section-1__div .section-1__info input {
    width: 315px;
    height: 46px;
    padding: 16px 20px 16px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-bottom: 15px;
  }
  .section-1 .section-1__div .section-1__info .section-1__btn {
    color: #fff;
    width: 315px;
    height: 46px;
    padding: 0px 50px 0px 50px;
    border-radius: 20px;
    border: none;
    background-color: rgb(162, 89, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
  }
}
@media (min-width: 933px) {
  .section-1 {
    padding: 0px 50px;
  }
  .section-1 .section-1__div {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  .section-1 .section-1__div .section-1__div-img .section-1__img {
    display: none;
  }
  .section-1 .section-1__div .section-1__div-img .section-1__img-2 {
    display: grid;
    margin: 0px 40px 0px 0px;
  }
}
@media (min-width: 1156px) {
  .section-1 {
    padding: 0px 50px;
  }
  .section-1 .section-1__div {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  .section-1 .section-1__div .section-1__div-img .section-1__img {
    display: none;
  }
  .section-1 .section-1__div .section-1__div-img .section-1__img-2 {
    display: none;
  }
  .section-1 .section-1__div .section-1__div-img .section-1__img-3 {
    display: grid;
  }
}/*# sourceMappingURL=stail.css.map */