@media (min-width: 0px) {
  .section-10 {
    max-width: 1400px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgba(59, 59, 59, 1);
    .section-10__div {
      .section-10__content {
        .section-10__carte {
          width: 330px;
          height: 469px;
          border-radius: 20px;
          background-color: rgba(43, 43, 43, 1);
          margin-top: 20px;
          .section-10__text-3 {
            color: #fff;
            font-family: Work Sans;
            font-size: 22px;
            font-weight: 600;
            line-height: 30.8px;
            text-align: left;
            margin: 20px 0px 5px 30px;
          }
          .section-10__div-text-3 {
            display: flex;
            gap: 12px;
            margin-left: 30px;
            .section-10__text-4 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
            }
          }

          .section-10__div-text-4 {
            display: flex;
            margin-left: 30px;
            gap: 120px;
            margin-top: 25px;

            .section-10__text-5 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
              text-align: left;
            }
          }
        }

        .section-10__carte-2 {
          display: none;
        }

        .section-10__carte-3 {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 763px) {
  .section-10 {
    max-width: 1400px;
    padding: 0px 50px;
    margin: 0 auto;
    margin-top: 80px;
    .section-10__div {
      .section-10__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .section-10__carte {
          width: 330px;
          height: 469px;
          border-radius: 20px;
          background-color: rgba(43, 43, 43, 1);
          margin-top: 20px;
          .section-10__text-3 {
            color: #fff;
            font-family: Work Sans;
            font-size: 22px;
            font-weight: 600;
            line-height: 30.8px;
            text-align: left;
            margin: 20px 0px 5px 30px;
          }
          .section-10__div-text-3 {
            display: flex;
            gap: 12px;
            margin-left: 30px;
            .section-10__text-4 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
            }
          }

          .section-10__div-text-4 {
            display: flex;
            margin-left: 30px;
            gap: 120px;
            margin-top: 25px;

            .section-10__text-5 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
              text-align: left;
            }
          }
        }

        .section-10__carte-2 {
          display: block;
          width: 330px;
          height: 469px;
          border-radius: 20px;
          background-color: rgba(43, 43, 43, 1);
          margin-top: 20px;
          .section-10__text-3 {
            color: #fff;
            font-family: Work Sans;
            font-size: 22px;
            font-weight: 600;
            line-height: 30.8px;
            text-align: left;
            margin: 20px 0px 5px 30px;
          }
          .section-10__div-text-3 {
            display: flex;
            gap: 12px;
            margin-left: 30px;
            .section-10__text-4 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
            }
          }

          .section-10__div-text-4 {
            display: flex;
            margin-left: 30px;
            gap: 120px;
            margin-top: 25px;

            .section-10__text-5 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
              text-align: left;
            }
          }
        }

        .section-10__carte-3 {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 1146px) {
  .section-10 {
    max-width: 1400px;
    padding: 0px 120px;
    margin: 0 auto;
    margin-top: 80px;
    .section-10__div {
      .section-10__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-content: space-between;
        .section-10__carte {
          width: 330px;
          height: 469px;
          border-radius: 20px;
          background-color: rgba(43, 43, 43, 1);
          margin-top: 20px;
          .section-10__text-3 {
            color: #fff;
            font-family: Work Sans;
            font-size: 22px;
            font-weight: 600;
            line-height: 30.8px;
            text-align: left;
            margin: 20px 0px 5px 30px;
          }
          .section-10__div-text-3 {
            display: flex;
            gap: 12px;
            margin-left: 30px;
            .section-10__text-4 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
            }
          }

          .section-10__div-text-4 {
            display: flex;
            margin-left: 30px;
            gap: 120px;
            margin-top: 25px;

            .section-10__text-5 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
              text-align: left;
            }
          }
        }

        .section-10__carte-2 {
          display: block;
          width: 330px;
          height: 469px;
          border-radius: 20px;
          background-color: rgba(43, 43, 43, 1);
          margin-top: 20px;
          .section-10__text-3 {
            color: #fff;
            font-family: Work Sans;
            font-size: 22px;
            font-weight: 600;
            line-height: 30.8px;
            text-align: left;
            margin: 20px 0px 5px 30px;
          }
          .section-10__div-text-3 {
            display: flex;
            gap: 12px;
            margin-left: 30px;
            .section-10__text-4 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
            }
          }

          .section-10__div-text-4 {
            display: flex;
            margin-left: 30px;
            gap: 120px;
            margin-top: 25px;

            .section-10__text-5 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
              text-align: left;
            }
          }
        }

        .section-10__carte-3 {
          display: block;
          width: 330px;
          height: 469px;
          border-radius: 20px;
          background-color: rgba(43, 43, 43, 1);
          margin-top: 20px;
          .section-10__text-3 {
            color: #fff;
            font-family: Work Sans;
            font-size: 22px;
            font-weight: 600;
            line-height: 30.8px;
            text-align: left;
            margin: 20px 0px 5px 30px;
          }
          .section-10__div-text-3 {
            display: flex;
            gap: 12px;
            margin-left: 30px;
            .section-10__text-4 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
            }
          }

          .section-10__div-text-4 {
            display: flex;
            margin-left: 30px;
            gap: 120px;
            margin-top: 25px;

            .section-10__text-5 {
              color: #fff;
              font-family: Work Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 22.4px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
